*,
::before,
::after{
    margin: 0;
    padding: 0;
    /*清楚移动端默认点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
    /*移动端盒子模型设置*/
    -webkit-box-sizing: border-box;
}

body{
    font-size: 14px;
    /*第二个是手机的一个默认字体*/
    font-family: "Microsoft Yahei",sans-serif;
    color: #000;
}
a{
    text-decoration: none;
    color: #000000;
}
ul{
    list-style: none;
}
input,textarea{
    border:none;
    resize:none;
    /*清楚选中效果*/
    outline:none;
    /*有些移动设备浏览器输入框有立体效果,去掉*/
    -webkit-appearance: none;
}

.clearfix::before,
.clearfix::after{
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}
[class^="icon_"]{
    background: url("../images/sprites.png") no-repeat;
    background-size: 200px 200px;
}

.jd_topBar{
    height: 45px;
    width: 100%;
    background: url("../images/header-bg.png") repeat-x;
    background-size: 1px 44px;
    border-bottom: 1px solid #e0e0e0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.jd_topBar .icon_back{
    height: 44px;
    width: 40px;
    background-position: -20px 0;
    display: block;

    padding:12px 10px;
    background-clip: content-box;
    background-origin: content-box;

    position: absolute;
    left: 0;
    top: 0;

}

.jd_topBar .icon_menu{
    height: 20px;
    width: 20px;
    background-position: -60px 0;
    display: block;

    margin:12px 10px;
    background-clip: content-box;
    background-origin: content-box;

    position: absolute;
    right: 0;
    top: 0;

}

.jd_topBar form{
    width: 100%;
    height: 44px;
    padding: 0 40px;
}
.jd_topBar form input{
    width: 100%;
    height: 32px;
    border: 1px solid #bfbfbf;
    padding: 0 8px;
    border-radius: 4px;
    margin-top: 7px;
    font-family: sans-serif;
    font-size: 12px;
}

.jd_topBar h2{
    width: 100%;
    height: 44px;
    line-height: 42px;
    font-size: 16px;
    font-family: sans-serif;
    color: #000;
    font-weight: inherit;
    text-align: center;
}
